* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow:hidden;
}

:root{
    --appBackgroundColor: rgb(17, 17, 38);
    --entry-font-color:rgb(255, 255, 255);
    --edit-icon-color: rgb(0, 0, 255);
    --complete-icon-color: rgb(0, 255, 0);
    --remove-icon-color: rgb(255, 0, 0);
}

body{
    height: 100vh;
    width: 100vw;
}


.todoApp{
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(17, 17, 38);
}

.todo-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: auto;
    transform: translate(-50%, -60%);
    background-color: whitesmoke;
    box-shadow: .8rem .8rem .6rem black;
    border-radius: .7rem;
    padding: 1.5em 1em;
}
button{
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;

}
.blue{
    color:blue;
}
.green{
    color: green;
}

.red{
    color: red;
}
.white{
    color:var(--entry-font-color);
}

.task-entry{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 0.5rem 0 0 0;
    padding: 0.6rem 0.8rem;
    border-radius: 0.6rem;
    color: white;
    background-color: rgb(37, 3, 79);
}

.entry{
    padding: 0.4rem;
    width: 68%;
}